
/* background #131720 */
body{
    background-color: #ffffff;
    font-family: sans-serif;
}

h3, p{
    color: black;
}
nav{
    overflow: hidden;
    background-color: #131720;
    padding: 6px;
}
nav a{
    text-decoration: none;
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    display: block;
}
form{
    background-color: #151f30;
    width: 300px;
    height: 40px;
    float: right;
    display: flex;
    align-items: center;
}
input{
    all: unset;
    font: 15px system-ui;
    color: white;
    height: 100%;
    width: 100%;
    padding: 5px 10px;
}
.thumbnail{
    height: 150px;
    width: 100px;
    border-radius: 3px;
}
.col{
    float: left;
    width: 25%;
    padding: 10px 10px;
}
.card{
    background-color: #f2eded;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    height: 300px;
}
.card button{
    background-color: #131720;
    color: white;
    height: 30px;
    width: auto;
}
/* bg color #151f30 */
figure, .book-details{
    height: 500px;
    width: 400px;
    background-color: #f2eded;
    border-radius: 10px;
    padding: 10px;
    
}
figure{
    text-align: center;
}
.main{
    display: flex;
}

